# yaml-language-server: $schema=../.helm-shared/values.schema.json

# shared values for all services

global:
  domain: p49
  location: bl49p
  enabled: true

# shared settings for all IOC types
shared: &shared
  # hostNetwork
  # set to true for Channel Access to work outside of the cluster (or use a gateway)
  hostNetwork: true

  # running as ixxdetector account uid,gid gives access to /dls/ixx/data
  podSecurityContext:
    # runAsUser: 37988
    # runAsGroup: 37988

  securityContext:
    allowPrivilegeEscalation: false

  # affinity chooses which servers to run on
  # Accelerator must set this for CIAs, Beamlines don't need it
  affinity: {}
    # nodeAffinity:
    #   requiredDuringSchedulingIgnoredDuringExecution:
    #     nodeSelectorTerms:
    #       - matchExpressions:
    #           - key: location
    #             operator: In
    #             values:
    #               - sr03c

  # tolerations allow us to run on a tainted server
  # Accelerator must set this for CIAs, Beamlines don't need it
  tolerations: []
    # - key: location
    #   operator: Equal
    #   value: sr03c
    #   effect: NoSchedule

# shared settings for all ibek IOCs using the ioc-instance helm chart
ioc-instance:
  # useHostNetwork - use host network for IOC - required for Channel Access
  # to work outside of the cluster
  hostNetwork: true

  # affinity and tolerations to get the right nodes on pollux
  securityContext:
    runAsUser: 37889
    runAsGroup: 37889

  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
          - matchExpressions:
              - key: beamline
                operator: In
                values:
                  - bl49p

  tolerations:
    - key: beamline
      operator: Equal
      value: bl49p
      effect: NoSchedule
    - key: location
      operator: Equal
      value: bl49p
      effect: NoSchedule
    - key: nodetype
      operator: Equal
      value: training-rig
      effect: NoSchedule
  <<: *shared

# shared setting for all legacy IOCs using the dev-c7 helm chart
dev-c7:
  <<: *shared
