nexus-file-converter:
  debug:
    enabled: false
    suspend: false
  beamline: p49
  template:
    entry/:
      NX_class@: NXentry
      instrument/:
        NX_class@: NXinstrument
        name: p49

  volumes:
  - name: nexus-data
    hostPath:
      path: /exports/mybeamline/p49/data/
      type: DirectoryOrCreate

  volumeMounts:
  - name: nexus-data
    mountPath: /exports/mybeamline/p49/data/
    mountPropagation: HostToContainer

  application:
    server:
      port: 8084
    spring:
      profiles:
        active: rabbitmq
      rabbitmq:
        host: p49-rabbitmq
        username: guest
        password: guest
    files:
      output:
        directory:
          staticDirectory: /exports/mybeamline/p49/data/2024/cm11111-1
        nameTemplate: <DATA_SESSION>
        devices:
          types:
            det: NX_DETECTOR
            sample_stage: NX_COLLECTION
            sample_stage.x: NX_POSITIONER
            sample_stage.theta: NX_POSITIONER
  securityContext:
    runAsUser: 37889  # p49detector
    runAsGroup: 37889
