blueapi:
  hostNetwork: false
  securityContext:
    runAsUser: 36098  # k8s-p49-beamline
  ingress:
    enabled: true
    hosts:
      - host: p49-blueapi.diamond.ac.uk
        paths:
          - path: /
            pathType: Prefix

  nodeSelector:
    kubernetes.io/hostname: bl48p-ea-serv-01.diamond.ac.uk
  tolerations:
    - key: nodetype
      operator: Equal
      value: training-rig
      effect: NoSchedule
    - key: beamline
      operator: Equal
      value: bl48p
      effect: NoSchedule

  extraEnvVars:
    - name: BEAMLINE
      value: p49
    - name: INSTRUMENT
      value: p49

  worker:
    env:
      metadata:
        instrument: p49
      sources:
      - kind: dodal
        module: dodal.beamlines.training_rig
      - kind: planFunctions
        module: dodal.plans
      events:
        broadcast_status_events: false
    stomp:
      auth:
        username: guest
        password: guest
      url: tcp://p49-rabbitmq-daq.diamond.ac.uk
    oidc:
      well_known_url: "https://authn.diamond.ac.uk/realms/master/.well-known/openid-configuration"
      client_id: "blueapi-cli"
    scratch:
      root: /dls_sw/htss/p49/scratch
      repositories:
        - name: dodal
          remote_url: https://github.com/DiamondLightSource/dodal.git
        - name: htss-rig-bluesky
          remote_url: https://github.com/DiamondLightSource/htss-rig-bluesky.git

    logging:
      level: "INFO"
      graylog:
        enabled: true

  initContainer:
    enabled: true
