blueapi:
  securityContext:
    runAsUser: 36098
  hostNetwork: true
  resources:
    limits:
      cpu: 1000m
      memory: 500Mi
    requests:
      cpu: 500m
      memory: 100Mi
  nodeSelector:
    kubernetes.io/hostname: bl49p-ea-serv-01.diamond.ac.uk
  tolerations:
    - key: nodetype
      operator: Equal
      value: training-rig
      effect: NoSchedule
    - key: beamline
      operator: Equal
      value: bl49p
      effect: NoSchedule
  ingress:
    enabled: true
    hosts:
      - host: p49-blueapi.diamond.ac.uk
        paths:
          - path: /
            pathType: Prefix
  extraEnvVars:
    - name: BEAMLINE
      value: p49
  tracing:
    otlp:
      enabled: true
      server:
        host: http://opentelemetry-collector.tracing
  worker:
    numtracker:
      url: https://numtracker.diamond.ac.uk/graphql
    api:
      url: http://0.0.0.0:8050/
    env:
      metadata:
        instrument: p49
      sources:
      - kind: dodal
        module: dodal.beamlines.training_rig
      - kind: planFunctions
        module: dodal.plans
      - kind: dodal
        module: imaging_bluesky.p49.devices
      - kind: planFunctions
        module: imaging_bluesky.p49.plans
      events:
        broadcast_status_events: False
    stomp:
      auth:
        username: guest
        password: guest
      url: tcp://p49-rabbitmq-daq.diamond.ac.uk:61613
      enabled: true
    oidc:
      well_known_url: "https://authn.diamond.ac.uk/realms/master/.well-known/openid-configuration"
      client_id: "blueapi-cli"
    scratch:
      root: /dls_sw/htss/p49/scratch
  
  initContainer:
    scratch:
      root: /dls_sw/htss/p49/scratch
      repositories:
        - name: dodal
          remote_url: https://github.com/DiamondLightSource/dodal.git
        - name: htss-rig-bluesky
          remote_url: https://github.com/DiamondLightSource/htss-rig-bluesky.git
        - name: imaging-bluesky
          remote_url: https://github.com/DiamondLightSource/imaging-bluesky.git
        - name: ophyd-async
          remote_url: https://github.com/bluesky/ophyd-async.git
    logging:
      level: "INFO"
      graylog:
        enabled: true
    persistentVolume:
      enabled: false