blueapi:
  debug:
    enabled: true
  hostNetwork: false
  ingress:
    enabled: false
    hosts:
      - host: p49-blueapi.diamond.ac.uk
        paths:
          - path: /
            pathType: Prefix

  extraEnvVars:
    - name: BEAMLINE
      value: p49
    - name: INSTRUMENT
      value: p49
    - name: EPICS_PVA_NAME_SERVERS
      value: p49-epics-gateways:9075
    - name: EPICS_CA_NAME_SERVERS
      value: p49-epics-gateways:9064
    - name: EPICS_PVA_AUTO_ADDR_LIST
      value: "NO"
    - name: EPICS_CA_AUTO_ADDR_LIST
      value: "NO"

  tracing:
    otlp:
      enabled: true
      server:
        host: http://opentelemetry-collector.tracing

  worker:
    env:
      metadata:
        instrument: p49
      sources:
      - kind: dodal
        module: dodal.beamlines.training_rig
      - kind: planFunctions
        module: dodal.plans
      events:
        broadcast_status_events: false
    stomp:
      auth:
        username: guest
        password: guest
      url: tcp://p49-rabbitmq-daq.diamond.ac.uk:61613
      enabled: true
    logging:
      level: "INFO"
      graylog:
        enabled: true
    
    oidc:
      well_known_url: "https://authn.diamond.ac.uk/realms/master/.well-known/openid-configuration"
      client_id: "blueapi-cli"
      logout_redirect_endpoint: "oauth2/sign_out"
    
    
    numtracker:
      url: https://numtracker.diamond.ac.uk/graphql
    
    scratch:
      repositories:
        - name: dodal
          remote_url: https://github.com/DiamondLightSource/dodal.git
        - name: htss-rig-bluesky
          remote_url: https://github.com/DiamondLightSource/htss-rig-bluesky.git

  initContainer:
    enabled: true
    persistentVolume:
      enabled: true


oauth2:
  proxyVarsAsSecrets: false
  extraEnv:
    - name: OAUTH2_PROXY_CLIENT_SECRET
      valueFrom:
        secretKeyRef:
          name: blueapi-secret
          key: client-secret
    - name: OAUTH2_PROXY_COOKIE_SECRET
      valueFrom:
        secretKeyRef:
          name: blueapi-secret
          key: cookie-secret
  config:
    configFile: |-
      skip_provider_button = true
      skip_jwt_bearer_tokens = true
      cookie_refresh="1m"
      cookie_expire="30m"
      email_domains = [ "*" ]
      skip_auth_routes=[
      "GET=^/config/oidc",
      "GET=^/healthz"
      ]
      whitelist_domains=["authn.diamond.ac.uk"]
  ingress:
    enabled: true
    hosts:
      - p49-blueapi.diamond.ac.uk
    annotations:
      nginx.ingress.kubernetes.io/proxy-buffer-size: "8k"
    path: /
    pathType: Prefix
  alphaConfig:
    enabled: true
    configData:
      upstreamConfig:
        proxyRawPath: true
        upstreams:
          - id: blueapi
            path: /
            uri: http://p49-blueapi
      providers:
        - provider: oidc
          id: authn.diamond.ac.uk
          clientID: p49-blueapi
          clientSecret: ${OAUTH2_PROXY_CLIENT_SECRET}
          oidcConfig:
            insecureAllowUnverifiedEmail: true
            emailClaim: sub
            audienceClaims: ["aud"]
            extraAudiences: ["blueapi"]
            issuerURL: https://authn.diamond.ac.uk/realms/master
      injectRequestHeaders:
        - name: Authorization
          values:
            - claim: access_token
              prefix: "Bearer "
